<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram</title>
</head>
<body>
    <div>
        <h1>Instagram</h1>
        <div>
            {% if user.is_authenticated %}
                <div>
                    <form action="{% url 'members:logout' %}" method="POST">
                    {% csrf_token %}
                        <button type="submit">로그아웃</button>
                    </form>
                </div>
            {% else %}
                <a href="{% url 'members:login' %}">로그인</a>
                <a href="{% url 'members:signup' %}">회원가입 하기</a>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>